body{
	margin:0; 
}
										/*header*/
header {


}
.header1 {
	background-color: rgb(255,0,0);opacity:0.6;
	position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
	width: 100%;
	height: 48px;
}
.header2 {
	background-color: rgb(220,0,0);opacity:0.6;
	position: fixed; /* Set the navbar to fixed position */
  top: 48px; /* Position the navbar at the top of the page */
	width: 100%;
	height: 80px;
	
}





.container{

width: 1100px;
margin: 0 auto;

}

img{
	max-width: 1100px;
	display: block;
	margin: auto;
}

.credit_block{
	width: 600px;
	font-size: 0.9rem;
	color: gray;
}
.credit_block span{
	font-size: 0.8rem;
	color: lightgray;
}




.title_block{
	background-color: rgb(0,200,0);opacity:0.6;
	margin-top:128px;
	width: 100%;
	height: 120px
}




.article_block{
	
	background-color: blue;
	width: 500px;
	margin-left: 80px;
	
	font-size: 1.0625rem;
	font-family:georgia, serif;
	line-height: 1.625rem;
  font-weight: 400;
	
	
}





.icono_block{
	background-color: yellow;
	width: 900px;
	height: 800px;
}


.icono_body {
	background-color: green;	
	
	width: 900px;
	height: 300px;
}


.icono_img img{
	width: 900px;
	display: block;
	position: relative;
}

.icono_article{
	position: absolute;
	width: 180px;

	font-family: sans-serif;
	font-size: 0.8em;

	top:120px;
	
}


										/*footer*/
footer{
width: 1100px;
}

.f1 {
 
}

.f2 {
	border-top: solid 1px lightgray;
  font-family: sans-serif;
  width: 100%;
}

.f2 ul{
	
	display: inline-block;
	vertical-align: top;
	text-decoration-line: none;
}


ul .title{
	list-style: none;
	font-weight: 900; 
	font-size: 0.85rem;
	padding-bottom: 10px;
}


ul li{
	list-style: none;
	font-family: sans-serif;
	font-size: 0.8rem;
	font-weight: 500;
	line-height: 24px;

}


.f3 {
	border-top: solid 1px lightgray;
	font-size: 13px;
	width: 100%;
	
}

.f3 ul li{
display: inline;
float: right;

height: 14px;

padding-right: 5px;
padding-left: 5px;

font-size: 11px;
line-height: 15px;

color: gray;

}

.left_side{
display: inline-block;
}

.left_side li{
	float: left;
	border-right: solid 1px lightgray;
}

.right_side{
	float: right;
}

.right_side li{
	float: right;
	border-left: solid 1px lightgray;

}