body{
	margin:0; 
}
										/*header*/
header {


}
.header1 {
	background-color: white;
	border-bottom: solid 1px lightgray;
	position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
	width: 100%;
	height: 48px;
	margin-bottom: 48px;
z-index: 2;
}

.header1 img{
	height: 27px;
	margin-top: 10px;
}

.header2 {
	border-bottom: solid 1px lightgray;

  margin-top: 48px;
  height: 80px;
	
}



.container{

width: 1100px;
margin: 0 auto;

}




										/*title*/
.title_block{
	
	margin-top:0px;
	width: 100%;
	height: 170px;
}


.title_hr{
	border-top: solid 1px black;
	
}

.title_block h2{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: black;
}


.title_block h1{
	font-style: italic;
	font-weight: bold;
	color: black;
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: solid 1px lightgray;
}


.author{
	height: 100px;
	font-size: 11px;
	display: inline-block;
}
.author span{
font-weight: 800;
}

.date{
	height: 100px;
	font-size: 11px;
	display: inline-block;
	margin-left: 20px;

}



										/*image*/

img{
	max-width: 1100px;
	display: block;
	margin: auto;
}

.north{
	margin-left: 0px;
	
}
.credit_block{
	width: 650px;
	height: 35px;
	font-size: 0.9rem;
	color: gray;
	margin-bottom: 15px;
}
.credit_block span{
	font-size: 0.8rem;
	color: lightgray;

}







									/*article*/

.article_block{
	
	width: 500px;
	margin-left: 80px;
	
	font-size: 1.0625rem;
	font-family:georgia, serif;
	line-height: 1.625rem;
  font-weight: 400;
	
}

hr{
	border-width: 1px;
	color: black;
	width: 40px;
	float: left;
}

.article_block h6{
	margin-top: 20px;
	font-family: sans-serif;
	font-weight: 100;
}


										/*icono*/
.icono_block{
	
	width: 900px;
	height: 80px;
}



.icono_img {
	width: 900px;
	display: block;
	position: relative;
	
}


.icono_img img{
	width: 900px;
	display: block;
	z-index: 1;
	
}

.icono_article{
	position: absolute;
	width: 180px;

	font-family: sans-serif;
	font-size: 0.8em;

		
}

.icono_footer{
	height: auto;
	font-weight: 100;
	color: gray;
	font-family: sans-serif;
	font-size: 13px;
}







										/*footer*/
footer{
width: 1100px;
}

.f1 {
 
}

.f2 {
	border-top: solid 1px lightgray;
  font-family: sans-serif;
  width: 100%;
}

.f2 ul{
	
	display: inline-block;
	vertical-align: top;
	text-decoration-line: none;
}


ul .title{
	list-style: none;
	font-weight: 900; 
	font-size: 0.85rem;
	padding-bottom: 10px;
}


ul li{
	list-style: none;
	font-family: sans-serif;
	font-size: 0.8rem;
	font-weight: 500;
	line-height: 24px;

}


.f3 {
	border-top: solid 1px lightgray;
	font-size: 13px;
	width: 100%;
	
}

.f3 ul li{
display: inline;
float: right;

height: 14px;

padding-right: 5px;
padding-left: 5px;

font-size: 11px;
line-height: 15px;

color: gray;

}

.left_side{
display: inline-block;
}

.left_side li{
	float: left;
	border-right: solid 1px lightgray;
}

.right_side{
	float: right;
}

.right_side li{
	float: right;
	border-left: solid 1px lightgray;

}