body{
	margin:0; 
}
										/*header*/
header {


}
.header1 {
	background-color: rgb(255,0,0);opacity:0.6;
	position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
	width: 100%;
	height: 48px;
}
.header2 {
	background-color: rgb(220,0,0);opacity:0.6;
	position: fixed; /* Set the navbar to fixed position */
  top: 48px; /* Position the navbar at the top of the page */
	width: 100%;
	height: 80px;
	
}





.container{

width: 1100px;
margin: 0 auto;

}

img{
	max-width: 1100px;
	display: block;
	margin: auto;
}

.title_block{
	background-color: rgb(0,200,0);opacity:0.6;
	margin-top:128px;
	width: 100%;
	height: 120px
}




.article_block{
	
	background-color: blue;
	width: 500px;
	margin-left: 80px;
	
	font-size: 1.0625rem;
	font-family:georgia, serif;
	line-height: 1.625rem;
  font-weight: 400;
	
	
}





.icono_block{
	background-color: yellow;
	width: 900px;
	height: 800px;
}

.icono_body {
	background-color: green;	
	position: relative;
	width: 100%;
	height: 300px;
}


.icono_article{
	position: absolute;
	top:40px;
	left: 20px;
}


										/*footer*/
footer{

}

.f1 {
 
}

.f2 {
	background-color: red;
  
  width: 100%;
}

.f2 ul{
	background-color: orange;
	display: inline-block;
	vertical-align: top;

}



.f3 {
	background-color: purple;
	width: 100%;
	height: 40px;
}